* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #b0e7b0;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 10px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 30px auto 30px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;

}

.about .main-title::before,
.about .main-title::after,
.courses .main-title::before,
.courses .main-title::after {
  background-color: var(--main-color);
}

.my-skills .main-title::after,
.my-skills .main-title::before {
  background-color: white;
}

.main-title::before {
  left: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.about .main-title:hover {
  color: white;
}

.my-skills .main-title:hover {
  color: var(--main-color);
}


/* Start Header */
.header {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    justify-content: center;
    margin: auto;
  }
}

.header .main-nav>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: #191919;
  padding-right: 260px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bolder;
  transition: var(--main-transition);
}

@media (max-width: 1000px) {
  .header .main-nav>li>a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.header .main-nav>li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav>li>a:hover {
  color: var(--main-color);
  background-color: #ffffff;
}

.header .main-nav>li>a:hover::before {
  left: 0;
}

/* End Header */
/* Start home */
.home {
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: -1;
  transform: skewY(deg);
  transform-origin: top left;
}

.home .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.home .text {
  flex: 1;
}

@media (max-width: 991px) {
  .home .text {
    text-align: center;
  }
}

.home .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

@media (max-width: 767px) {
  .home .text h1 {
    font-size: 28px;
  }
}

.home .text p {
  font-size: 21px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #191919;
  max-width: 500px;

}

@media (max-width: 991px) {
  .home .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .home .text p {
    font-size: 18px;
  }
}

.home .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 1.3s linear infinite;
}

@media (max-width: 991px) {
  .home .image {
    display: none;
  }
}

.home .go-down {
  color: #191919;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);

}

.home .go-down:hover {
  color: white;
}

.home .go-down i {
  animation: bouncing 1.5s infinite;
}

/* End home */

/* Start ABOUT */

.about {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  overflow: hidden;

}

.about .container {
  justify-content: center;
  align-items: center;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: auto;
  font-size: 19px;
  font-family: "Cairo", sans-serif;
  text-align: justify;
  padding: 30px;
  line-height: 1.9em;
  background-color: whitesmoke;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.about .container .box {
  margin-right: 20px;
}

.about .box img {
  transition: var(--main-transition);
  background-color: whitesmoke;
  margin-right: 250px;
  max-width: 100%;
  max-height: 100%;

  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);

}

.about .box .image::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}

.about .box .image:hover::before {
  animation: flashing 0.5s;
}

.about .box .image:hover img {
  transform: rotate(-5deg) scale(1);
}

@media (max-width: 767px) {
  .about .container {
    width: 90%;
  }

  .about .textAbout {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .about .container img {
    display: none;
  }
}

.about .go-down {
  color: #191919;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.about .go-down:hover {
  color: var(--main-color);
}

.about .go-down i {
  animation: bouncing 1.5s infinite;
}

/* END ABOUT */


/* Start Skills */
.my-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--main-color);

}

.my-skills .container {
  display: flex;
  align-items: center;
}

.my-skills .container img {
  padding-right: 0px;
  padding-top: var(--main-padding-top);
  padding-left: 0px;
}

@media (max-width: 991px) {
  .my-skills img {
    display: none;
  }
}

.my-skills .skills {
  flex: 1;
}

.my-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}

.my-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px 5px;
  border-radius: 10px;
  color: black;
}

.my-skills .skill .the-progress {
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 20px;
}

.my-skills .skill .the-progress .fill {
  height: 30px;
  width: 80%;
  background-color: #191919;
  border-radius: 20px;

}

.my-skills .go-down {
  color: #191919;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.my-skills .go-down:hover {
  color: white;
}

.my-skills .go-down i {
  animation: bouncing 1.5s infinite;
}

/* End Skills */

/* Start courses */
.courses {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
  text-align: center;

}

@media (max-width: 767px) {
  .courses {
    text-align: center;
  }

  .courses .container {
    flex-direction: column;
  }
}

.courses .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses .box {
  border-radius: 10%;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  padding-right: 15px;
  width: 100%;
}

.courses .box .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  animation: up-and-down 1.3s linear infinite;


}

.courses .box .image::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}

.courses .box .image:hover::before {
  animation: flashing 0.7s;
}

.courses .box img {
  max-width: 100%;
  transition: var(--main-transition);

}

.courses .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

.courses .go-down {
  color: #191919;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.courses .go-down:hover {
  color: var(--main-color);
}

.courses .go-down i {
  animation: bouncing 1.5s infinite;
}

/* end courses */





/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
  overflow: hidden;


}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.footer .box h2 {
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 20px;
  font-family: "Cairo", sans-serif;

}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}


.footer .box .links li {
  padding-bottom: 20px;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .project {
  position: relative;
  color: #b9b9b9;
  padding-bottom: 25px;
}

@media (max-width: 991px) {
  .footer p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .footer .text p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .footer .box .projects {
    flex-direction: column;
  }
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .copyright {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  text-align: center;
  color: #b9b9b9;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -10px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40%,
  60% {
    transform: translateX(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {

  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }

  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}

/* End Animation